.question {
	text-align: center;
	letter-spacing: 1px;
    font-size: 30px;
    font-weight: 900;
	transition:all 0.3s ease;
	margin-bottom: 80px;
}

.question:hover {
    -webkit-transform: scale(1.3);
    -ms-transform: scale(1.3);
    transform: scale(1.3);
}

.heading {
	text-align: center;
    margin-bottom: 50px;
    color: #186677;
    letter-spacing: 2px;
    font-size: 40px;
    font-weight: 900;
}

#option-1-1 {
	width: 13%;
	margin-left: 1.5%;
	float: left;
	transition:all 0.3s ease;
	background:#53a7ea;
	height: 200px;
	color: #fff;
}

#option-1-2, #option-1-3, #option-1-4, #option-1-5, #option-1-6 {
	width: 13%;
	margin-left: 1%;
	float: left;
	transition:all 0.3s ease;
	background:#53a7ea;
	height: 200px;
	color: #fff;
}

#option-1-7 {
	width: 13%;
	margin-right: 1.5%;
	float: right;
	transition:all 0.3s ease;
	background:#53a7ea;
	height: 200px;
	color: #fff;
}

#option-1-1:hover, #option-1-2:hover, #option-1-3:hover, #option-1-4:hover, #option-1-5:hover, #option-1-6:hover, #option-1-7:hover {
	-webkit-transform: scale(0.9);
	-ms-transform: scale(0.9);
	transform: scale(0.9);
}

.align-center {
	text-align: center;
}

h1 {
	font-size: 40px;
    font-weight: 900;
}

.questions {
	background: #c9fbec;
	overflow: hidden;
	padding-top: 20px;
	padding-bottom: 50px;
	border: 2px solid #90d2bf;
    border-radius: 25px;
}

p {
	font-size: 20px;
	font-weight: 300px;
	margin: 5px;
}

.prev {
	float: left;
	margin-left: 1.5%;
}

.next {
	float: right;
	margin-right: 1.5%;
}

.prev, .next {
	color: #000;
	background: #999;
	font-weight: bold;
	border: 1px solid #999;
	margin-top: 50px;
	font-size: 15px;
}

.prev > img {
	float: left;
}

.next > img {
	float: right;
}
 
.back:hover, .prev:hover, .next:hover {
	color: #000;
	background: #fff;
	cursor: pointer;
}

input[type="checkbox"] {
    display:none;
}

input[type="checkbox"] + label {
	font-size: 18px;
	font-weight: bold;
	margin-left: 5px;
}

input[type="checkbox"] + label span {
	margin-top: 20px;
    display:inline-block;
    width:19px;
    height:19px;
    vertical-align:bottom;
    background:url(check_radio_sheet.png) left top no-repeat;
    cursor:pointer;
}

input[type="checkbox"]:checked + label span {
    background:url(check_radio_sheet.png) -19px top no-repeat;
}

#option-3-1 {
	width: 31%;
	margin-left: 1.5%;
	float: left;
	transition:all 0.3s ease;
	background:#53a7ea;
	height: 200px;
	color: #fff;
}

#option-3-2 {
	width: 31%;
	margin-left: 2%;
	float: left;
	transition:all 0.3s ease;
	background:#53a7ea;
	height: 200px;
	color: #fff;
}

#option-3-3 {
	width: 31%;
	margin-right: 1.5%;
	margin-left: 2%;
	float: right;
	transition:all 0.3s ease;
	background:#53a7ea;
	height: 200px;
	color: #fff;
}

#option-3-1:hover, #option-3-2:hover, #option-3-3:hover {
	-webkit-transform: scale(0.9);
	-ms-transform: scale(0.9);
	transform: scale(0.9);
}

/* Radio button */
[type="radio"] {
  border: 0;
  height: 1px; 
  padding: 0;
  position: absolute;
  width: 1px;
  margin-left: 10px;
}

/* One radio button per line */
label {
  display: block;
  cursor: pointer;  /*hand view when on hover*/
  line-height: 2.5;
  font-size: 1.0em;
}

/* the basic, unchecked style */
[type="radio"] + span:before {
  content: '';
  display: inline-block;
  width: 1em;
  height: 1em;
  vertical-align: -0.25em;
  border-radius: 1em;           /*hard border*/
  border: 0.125em solid #fff;
  box-shadow: 0 0 0 0.15em #000;   /*light shadow*/
  margin-right: 0.75em;
  transition: 0.5s ease all;    /*animation here*/
  margin-left: 40px;
}

/* the checked style using the :checked pseudo class */
[type="radio"]:checked + span:before {
  background: #33a2c6;
  box-shadow: 0 0 0 0.25em #000;
  margin-left: 40px;
}

h6 {
	margin-left: 25px;
}

.clear {
	clear: both;
}

input[type="text"] {
  padding: 10px;
  border: solid 1px #fff;
  box-shadow: inset 1px 1px 2px 0 #707070;
  transition: box-shadow 0.3s;
  margin-left: 40px;
}
input[type="text"]:focus,
input[type="text"].focus {
  box-shadow: inset 1px 1px 2px 0 #c9c9c9;
}

/* Output */
#finalButton {
    background-color: #008CBA; 
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

#finalButton:hover {
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

#score {
	text-align: center;
}
